# Ignore all compiled Python files
*.pyc
*.pyo
*.pyd
*.out
*.slurm
*.pkl

# Ignore the __pycache__ directory
__pycache__/
logs/
old_sims
value_iteration
plots/
SGM_plots/
saved_models/
sync_models.sh
old_logs/
action_dist/






